.App {
    padding: 1rem;
}

.CodeCell {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    background-color: white;
}

.CodeCell .handlebar {
    background-color: grey;
    height: 1.8rem;
    cursor: move;
}

.CodeCell .inner {
    padding: 0.4rem;
}

textarea {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}